In [1]:
from bs4 import BeautifulSoup
import requests
from tqdm import tqdm
import time
import pandas as pd

ModuleNotFoundError: No module named 'bs4'

In [ ]:
arr = []
for page in tqdm(range(1, 188)):
    url = f"https://www.screener.in/screens/41897/all-bse-companies/?page={page}"
    req = requests.get(url)

    time.sleep(1)

    soup = BeautifulSoup(req.text, 'html.parser')
    table = soup.find("table", {"class": "data-table"})
    tr = table.findAll("tr")[1:]
    # print(page)

    for _tr in tr:
        td = _tr.findAll("a", {"target": "_blank"})
        if td:
            arr.append(td[0].text)

100%|██████████| 187/187 [03:57<00:00,  1.27s/it]

In [ ]:
# print(arr)
print(len(arr))

4670

In [ ]:
df = pd.DataFrame(arr, columns=["BSE_securities_name"])
df.head()

  BSE_securities_name
0           Harshdeep
1      Flora Textiles
2     Jagjanani Text.
3    Ventura Textiles
4      Manbro Indust.

In [ ]:
df.to_csv("BSE_companyList/BSE_securities.csv", index=False)